ul li{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
h1 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    	font-size: 49px;
    	font-style: normal;
    	font-variant: small-caps;
    	font-weight: 100;
    	line-height: 42.9px;
}
.footer{ 
       	position: fixed;     
        text-align: center;    
       	bottom: 2px; 
       	width: 100%;
}
a:link {
    	color: black; 
    	background-color: transparent; 
    	text-decoration: underline;
    	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    	font-size: 25px;
    	font-style: normal;
    	font-variant: small-caps;
    	font-weight: 100;
    	line-height: 25px;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: underline;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    	font-size: 25px;
    	font-style: normal;
    	font-variant: small-caps;
    	font-weight: 100;
    	line-height: 25px;
}

a:hover {
    	color: black;
    	background-color: transparent;
    	text-decoration: underline;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    	font-size: 25px;
    	font-style: normal;
    	font-variant: small-caps;
    	font-weight: 100;
    	line-height: 25px;
}

a:active {
    	color: black;
    	background-color: transparent;
    	text-decoration: underline;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    	font-size: 25px;
    	font-style: normal;
    	font-variant: small-caps;
    	font-weight: 100;
    	line-height: 25px;
}

.topcorner{
   position:absolute;
   top:10;
   right:10;
}